.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicicletas-lista h2 {
  padding-bottom: 40px;
}

.bicicletas-div h2 {
  width: 1200px;
}

.bicicletas-lista ul {
  display: flex;
  max-width: 1400px;
  gap: 0 40px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  overflow-x: auto;
}
.bicicletas-lista a {
  display: inline-block;
}
.bicicletas-lista li {
  min-width: 280px;
}
.bicicletas-lista img {
  margin-top: 40px;
}
.bicicletas-lista h3 {
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
}
.bicicletas-lista h3::before {
  content: "";
  background-color: var(--p1);
  width: 12px;
  height: 8px;
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  transition: 0.2s;
}

.bicicletas-lista h3:hover:before {
  width: 24px;
}
@media (max-width: 800px) {
  .bicicletas-lista ul {
    gap: 20px;
  }
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .bicicletas-lista h2 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .bicicletas-lista h2 span {
    max-width: 13ch;
    line-height: 1.02;
    font-size: 36px;
  }
  .bicicletas-lista h2 {
    max-width: 13ch;
    line-height: 1.02;
    font-size: 36px;
  }
  .bicicletas-lista h3 {
    font-size: 24px;
    line-height: 1.15;
  }
  .bicicletas-lista span {
    font-size: 16px;
  }
}
