.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  color: var(--p5);
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font: 600 1.125rem/1.35 "Poppins", f sans-serif;
  max-width: max-content;
  text-transform: uppercase;
}

.botao.seta {
  display: flex;
  align-items: center;
}
.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
  transition: transform 0.2s;
}
.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    line-height: 1.02;
    font-size: 2rem;
  }
  .font-2-xl,
  .font-1-xl {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
